<%= render 'books/afheader' %>
<main>
	<div class="container">
		<%= render 'flash' %>

		<%= render 'error' %>

		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>
				<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: "jpg" %>
				<% if current_user.image.nil? %>
					<img src="/assets/null-img.png" class="nimgp">
				<% end %>
				<table class="table">
					<tbody>
						<tr></tr>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.introduction %></th>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<%= link_to edit_user_path(current_user.id) do %>
						<button class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" href="users/:id/edit"></button>
					<% end %>
				</div>
				<h2>New Book</h2>
				<%= form_for(@book) do |f| %>
					<div class="field row">
						<div><%= f.label :title %></div>
						<div><%= f.text_field :title, class: "col-xs-12" %></div>
					</div>
					<div class="field row">
						<div><%= f.label "Opinion" %></div>
						<div><%= f.text_area :body, class: "col-xs-12" %></div>
					</div>
					<div class="field row">
						<%= f.submit "Create Book", class: "col-xs-12 btn btn-primary" %>
					</div>
				<% end %>
			</div>
			<div class="col-xs-9">
				<h2>Book detail</h2>
				<table class="table">
					<tbody>
						<tr>
							<td>
							</td>
							<td><%= link_to user_path(@user.id) do %>
									<% if current_user.image.nil? %>
										<img src="/assets/null-img.png" class="nimg"><br><%= @user.name %>
									<% else %>
										<%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: "jpg" %><br><%= @user.name %>
									<% end %>
								<% end %>
							</td>
							<td>
								<% if @user == current_user %>
									<%= link_to @booky.title, edit_book_path(@booky.id) %>
								<% else %>
									<%= link_to @booky.title, book_path(@booky.id) %>
								<% end %>
									</td>

							<td><%= @booky.body %></td>
							<% if current_user.id == @user.id %>
							<td><%= link_to "Edit", edit_book_path(@user), class: "btn-sm btn-success" %></td>
							<td><%= link_to "Destroy", delbook_path(@booky.id), method: :delete, class: "btn-sm btn-danger", data: { confirm: "本当に消しますか？" } %></td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
<%= render 'books/footer' %>